* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
 :root {
    --lilac: #3B2244;
    --teal: #105160;
    --green: #2d7670;
    --ivory: #e7e6e3;
    --black: #000000;
 }

.hero-section {
    background-image: url("./newbackground.png");
    background-size: cover;
    height: 40vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;        
  }
  
  .hero-section .hero-section-text {
    font-family: 'Permanent Marker', cursive;
  }

#title {
    font-family: 'Permanent Marker', cursive;
    font-size: 10em;
    color: var(--black);
    text-shadow: 1px 1px 2px var(--lilac);
}

#subtitle {
    font-family: 'Kalam', cursive;
    font-size: 2em;
}